<div class="banner">
  <h1>FAQ</h1>
</div>





<div id="researchers" class="section-title">
  <h2><%= fa_icon "angle-down", id: 'rs' %> Researchers</h2>
</div>



<div class="container">

  <div id="researcher-faq" class="display-faq">

    <div class="row legal-item">
      <div class="questions">
        <h3>Do I have to pay to sign up?</h3>
      </div>
      <div class="answer">
        <p>
          Nope! At Study-Me we believe research should be a passion, so there is no personal cost involved in signing up to the website.
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>How active do I have to be?</h3>
      </div>
      <div class="answer">
        <p>
          There is no minimum or maximum amount of activity required for the website. We understand that the demand for participants comes in waves and we’ll still be here when you come back next time!
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>I’m a researcher and my organisation/university isn’t affiliated, how can I use the service?</h3>
      </div>
      <div class="answer">
        <p>
          Unfortunately we need a registered contact for ethical approval at each affiliated institution. If your workplace isn’t registered then send a message via our Contact Us page and we’ll get in touch with them and see what we can do!
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>How do I get credits for my account?</h3>
      </div>
      <div class="answer">
        <p>
          Credits can be bought through the website on the Credits page. If you have spare time you can also participate in other researchers’ studies and earn credits that way. All credits can be withdrawn if they aren’t paid to participants through the site, so don’t worry you won’t lose any money.
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>I’ve created a study on the site, where is it?</h3>
      </div>
      <div class="answer">
        <p>
          All studies must be approved by the registered contact for ethical approval at your organisation. Though it might mean that your study takes a little bit longer to appear on the site, it ensures that ALL studies on our site are ethical. Where our users are involved our highest priority is always safety.
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>Someone has signed up for my study but I don’t need them anymore, what do I do?</h3>
      </div>
      <div class="answer">
        <p>
          When a user signs up to participate in your study, you always have the option to accept or reject that sign up. If you have already accepted but now realise you don’t require them, simply click ‘Cancel Participation’ and add a personal message to the user.
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>What does my star rating mean?</h3>
      </div>
      <div class="answer">
        <p>
          Following each participation, every researcher and participant will be asked to rate each other. All star ratings are visible to all users so by being reliable and efficient to keep your ratings high you can encourage participants to sign up to your studies. All researchers which drop below a 3 star rating will be reviewed by our team to ensure that our users get the best research experience possible.
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>I’m no longer a researcher how do I deactivate my account?</h3>
      </div>
      <div class="answer">
        <p>
          While you may no longer be a researcher, you might still want to keep in touch with the community and enjoy reading the newest papers published in your favourite subject areas. You can remove your researcher status but remain part of Study-Me by clicking here. To completely deactivate your account click here.
        </p>
      </div>
    </div>

  </div>


</div>

  <div id="participants" class="section-title">
    <h2><%= fa_icon "angle-down", id: "ps"%> Participants</h2>
  </div>

<div class="container">


  <div id="participant-faq" class="display-faq">


    <div class="row legal-item">
      <div class="questions">
        <h3>How active do I have to be?</h3>
      </div>
      <div class="answer">
        <p>
          There is no minimum or maximum amount of activity required for the website. You can come and go as much as you please, we’ll still be here when you come back next time!
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>I’m not a student, can I still register?</h3>
      </div>
      <div class="answer">
        <p>
          Absolutely! Our researchers look for a wide range of participants so users of all ages, occupations and locations are welcome to join us!
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>What are credits?</h3>
      </div>
      <div class="answer">
        <p>
          Our web-credits are how you are paid for your participation. Once you have 1,000 credits or more, you are able to withdraw them directly to your bank account or donate them to a registered charity!
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>I haven’t been paid for my participation, why?</h3>
      </div>
      <div class="answer">
        <p>
          It is at the discretion of the researcher to withhold payment for your participation. This may be because you didn’t fully complete your participation or they felt you purposefully misled the experiment.
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>Can I appeal if a researcher withholds payment?</h3>
      </div>
      <div class="answer">
        <p>
          Unfortunately you will not be able to appeal this decision, though if you leave a comment with your researcher rating, our web team keep a close eye to check researchers aren’t unnecessarily refusing payments.
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>Can I participate in a study from another University or location?</h3>
      </div>
      <div class="answer">
        <p>
          Of course! You can participate in any study listed on the website, just be sure to check whether it is an online or an active study. Active studies require you to go in person to a specified place to take part in the experiment.
        </p>
      </div>
    </div>

    <div class="row legal-item">
      <div class="questions">
        <h3>I signed up to a study but I don’t want to do it anymore, what do I do?</h3>
      </div>
      <div class="answer">
        <p>
          We know that these things happen so once you have signed up to a study and it has been accepted you can chose to ‘Cancel Participation’ and add a personal message to the researcher.
        </p>
      </div>
    </div>

  </div>



</div>
