
<div class="modal-dialog center">
	<div class="modal-content">
		<h2>Modal Box</h2>
    <div class="modal-text">
      <p>This is a sample modal box that can be created using the powers of CSS3.</p>
      <p>You could do a lot of things here like have a pop-up ad that shows when your website loads, or create a login/register form for users.</p>
    </div>
    <div class="button modal-btn">
      Cancel
    </div>
    <div class="button modal-btn active">
      Ok
    </div>
	</div>
</div>
