<div class="banner">
  <h1>Terms and Conditions</h1>
</div>
<div class="legal-item">
  <div class="answer">
    <p>
      The following terms and conditions apply to all website development / design services provided by Wombat Creative Limited to the Client.
    </p>
  </div>
  <div class="questions">
    <h3>1. Acceptance</h3>
  </div>
  <div class="answer">
    <p>
      It is not necessary for any Client to have signed an acceptance of these terms and conditions for them to apply. If a Client accepts a quote then the Client will be deemed to have satisfied themselves as to the terms applying and have accepted these terms and conditions in full.

      Please read these terms and conditions carefully. Any purchase or use of our services implies that you have read and accepted our terms and conditions.
    </p>
  </div>
  <div class="questions">
    <h3>2. Charges</h3>
  </div>
  <div class="answer">
    <p>
      It is not necessary for any Client to have signed an acceptance of these terms and conditions for them to apply. If a Client accepts a quote then the Client will be deemed to have satisfied themselves as to the terms applying and have accepted these terms and conditions in full.

      Please read these terms and conditions carefully. Any purchase or use of our services implies that you have read and accepted our terms and conditions.
    </p>
  </div>
  <div class="questions">
    <h3>3. Clients and Universities</h3>
  </div>
  <div class="answer">
    <p>
      It is not necessary for any Client to have signed an acceptance of these terms and conditions for them to apply. If a Client accepts a quote then the Client will be deemed to have satisfied themselves as to the terms applying and have accepted these terms and conditions in full.

      Please read these terms and conditions carefully. Any purchase or use of our services implies that you have read and accepted our terms and conditions.
    </p>
  </div>
  <div class="questions">
    <h3>4. Clients and Universities</h3>
  </div>
  <div class="answer">
    <p>
      It is not necessary for any Client to have signed an acceptance of these terms and conditions for them to apply. If a Client accepts a quote then the Client will be deemed to have satisfied themselves as to the terms applying and have accepted these terms and conditions in full.

      Please read these terms and conditions carefully. Any purchase or use of our services implies that you have read and accepted our terms and conditions.
    </p>
  </div>
</div>
